.container{
    margin:  5px;
    min-width: 260px;
    max-width: 260px;
   height: 640px;
    /* height: auto; */
    background-color: rgba(75, 40, 109, 1);
    border-radius: 10px;
    display: flex;
    align-items: start;

}
ol{
    margin: 70px 70px 30px 30px ;
    /* list-style-type: none; */
    width: 100% ;
    
}
li::marker {
    color: white;
}
li{
    width: 100%;
}
.btn-sidebar{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    list-style: none;
    cursor: pointer;
    /* border: 1px solid green !important; */
    
}